<div class="home-container">
    <h1>Bine ați venit la aplicația TimeTrack!</h1>
    <div class="features">
      <div class="feature-card">
        <h3>Înregistrare ore</h3>
        <p>Înregistrați orele lucrate.</p>
      </div>
      <div class="feature-card">
        <h3>Rapoarte</h3>
        <p>Generați rapoarte detaliate pentru a analiza timpul petrecut.</p>
      </div>
      <div class="feature-card">
        <h3>Calendar</h3>
        <p>Vizualizați activitățile planificate într-un format de calendar intuitiv.</p>
      </div>
    </div>
  </div>